{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "overrides": [
    {
      "files": ["**/__tests__/*.js", "**/__tests__/*.jsx"],
      "env": {
        "jest": true
      }
    }
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-body-style": 0,
    "no-trailing-spaces": "error",
    "operator-linebreak": ["error", "before", { "overrides": { "&&": "before", "||": "before", "=": "before", "!==": "before" } }],
    // "indent": ["error", 2],
    "no-console": "off",
    "react/jsx-key": "error",
    "no-undef": ["error", { "typeof": true }],
    "react/prop-types": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["state"] }
    ],
    "react/forbid-prop-types": "off"
  }
}